
/*.violet {
	}

.green {
   
}

.cyan {
    }

.yellow {
   filter : brightness(0) saturate(100%) invert(90%) sepia(90%) saturate(1000%) hue-rotate(0deg) brightness(105%) contrast(105%);

}

.red {
    filter: brightness(0) saturate(100%) invert(15%) sepia(100%) saturate(7000%) hue-rotate(0deg) brightness(100%) contrast(110%);
}*/

body {
	background-color: black;
  	min-height: 100vh;	 
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	color: white;
}

.brick {
	height: 6px;
	width: 6px;
}

.ray_exp {
	background-image: url("assets/ray_exp.png") ; 
	 background-size: contain;
    image-rendering: pixelated;
	image-rendering: crisp-edges;
    background-position: center;
	width: 20px;
	height: 20px;

}


#container {
	width: 800px;
	position: relative;
    box-sizing: border-box;
	height: 600px;
	border: solid;
	border-width:1px;
	border-color : white;
}

.squid_1 {
	background-image: url("assets/squid_1.svg"); 
	filter : brightness(0) saturate(100%) invert(84%) sepia(35%) saturate(5146%) hue-rotate(140deg) brightness(101%) contrast(101%);
	width: 40px;
	height: 40px;
}

.squid_2 {
	background-image: url("assets/squid_2.svg");  
	filter : brightness(0) saturate(100%) invert(84%) sepia(35%) saturate(5146%) hue-rotate(140deg) brightness(101%) contrast(101%);
	width: 40px;
	height: 40px;
}

.crab_1 {
	background-image: url("assets/crab_1.svg"); 
	filter : brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(3000%) hue-rotate(260deg) brightness(100%) contrast(100%);
	width: 40px;
	height: 40px;
}

.crab_2 {
	background-image: url("assets/crab_2.svg"); 
	filter : brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(3000%) hue-rotate(260deg) brightness(100%) contrast(100%);
	width: 40px;
	height: 40px;
}
.octpus_1 {
	background-image: url("assets/octpus_1.svg");  
	filter : brightness(0) saturate(100%) invert(48%) sepia(98%) saturate(1000%) hue-rotate(80deg) brightness(100%) contrast(100%);
	width: 40px;
	height: 40px;
}

.octpus_2 {
	background-image: url("assets/octpus_2.svg");  
	filter : brightness(0) saturate(100%) invert(48%) sepia(98%) saturate(1000%) hue-rotate(80deg) brightness(100%) contrast(100%);
	width: 40px;
	height: 40px;
}


#ray {
	position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
	image-rendering: crisp-edges;
    background-position: center;
	width: 20px;
	height: 20px;
}
#alien {
	position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
	image-rendering: crisp-edges;
    background-position: center;

}
#mob1 {
	position: absolute;
	background-image: url("out/inv_c_2.svg");
    background-repeat: no-repeat;
	image-rendering: crisp-edges;
}


#playership {
    width: 50px;
    height: 50px;

    background-image: url("assets/player.svg");
	image-rendering: pixelated;
	image-rendering: crisp-edges;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
}


