* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

#background{
    position:absolute;
    inset:0;
    overflow:hidden;
    background:#020111;
    z-index:-1;
}

.stars{
    position:absolute;
    inset:-50%;

    background:
        radial-gradient(white 1px,transparent 1px) 0 0/35px 35px,
        radial-gradient(#7dcfff 1px,transparent 1px) 0 0/70px 70px,
        radial-gradient(white 2px,transparent 2px) 0 0/120px 120px;

    animation:moveStars 18s linear infinite;
}

@keyframes moveStars{
    from{ 
        transform:translateY(-25%);
    }

    to{
        transform:translateY(25%);
    }
}

.hidden {
    display: none !important;
}

.showFlex {
    display: flex;
}